*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
resources/views/admin/movies/booking/ticket.blade.php
.gitignore
resources/views/admin/movies/booking/ticket.blade.php
.gitignore
resources/views/admin/movies/cinemas/edit.blade.php
app/Middleware/EnsureUserIsAdmin.php
.gitignore
app/Middleware/EnsureUserIsAdmin.php
app/Middleware/EnsureUserIsAdmin.php
resources/views/admin/movies/booking/reviews/index.blade.php
.gitignore
resources/views/admin/movies/cinemas/edit.blade.php
.gitignore
resources/views/admin/movies/cinemas/edit.blade.php
resources/views/admin/movies/cinemas/index.blade.php
resources/views/admin/movies/genres/index.blade.php
.gitignore
resources/views/admin/movies/cinemas/create.blade.php
.gitignore
resources/views/admin/movies/cinemas/edit.blade.php
resources/views/admin/movies/halls/index.blade.php
.gitignore
resources/views/admin/movies/genres/index.blade.php
.gitignore
resources/views/admin/movies/cinemas/create.blade.php
.gitignore
resources/views/admin/movies/halls/create.blade.php
app/Middleware/EnsureUserIsAdmin.php
app/Middleware/EnsureUserIsAdmin.php
